.footer {
  width: 100%;
  background: $color-black-pearl1;
  max-height: fit-content;
}

.footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 42px;

  @media (max-width: $vp-1023) {
    padding-bottom: 54px;
    flex-direction: column;
  }

  @media (max-width: $vp-767) {
    max-width: 100%;
    padding: 35px 0;
  }
}

.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $vp-1190) {
    justify-content: flex-end;
  }

  @media (max-width: $vp-1023) {
    justify-content: space-between;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
  }
}

.footer h3 {
  margin: 0;
  margin-bottom: 24px;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.07;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  padding-top: 7px;

  @media (max-width: $vp-767) {
    padding: 21px 25px;
    margin: 0;
  }
}
