.header {
  width: 100%;
  min-height: 120px;
  margin: 0 auto;
  background: $black-to-bottom;
  display: flex;
  align-items: center;
  z-index: 10;

  @media (min-width: $vp-1024) {
    position: fixed;
  }

  @media (max-width: $vp-1023) {
    min-height: 100px;
  }

  @media (max-width: $vp-767) {
    min-height: 70px;
  }
}

.header .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 9px;
  padding-bottom: 15px;

  @media (max-width: $vp-1320) and (min-width: $vp-1024) {
    justify-content: space-between;
  }

  @media (max-width: $vp-767) {
    padding-right: 15px;
  }
}

.header__logo {
  margin-right: auto;
  padding-left: 2px;

  @media (max-width: $vp-1320) and (min-width: $vp-1024) {
    margin-right: 0;
  }

  @media (max-width: $vp-1023) {
    padding-left: 1px;
  }

  @media (max-width: $vp-767) {
    padding-top: 5px;
  }
}

.header__logo-image {
  width: 215px;

  @media (max-width: $vp-767) {
    max-width: 35px;
    max-height: 35px;
  }
}

.header__contacts {
  display: flex;
  flex-wrap: wrap;
  max-width: 635px;

  @media (max-width: $vp-1240) {
    max-width: 420px;
  }

  @media (max-width: $vp-767) {
    max-width: 240px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: $color-alice-blue1;
  padding: 10px;
  padding-bottom: 14px;

  @media (max-width: $vp-1023) {
    padding-bottom: 25px;
    margin-right: 20px;
  }

  @media (max-width: $vp-767) {
    padding-bottom: 14px;
    margin-right: 20px;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.header__link span {
  display: inline-block;
  vertical-align: baseline;
  padding-left: 15px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.header__link--phone span {
  margin-right: 155px;

  @media (max-width: $vp-1320) and (min-width: $vp-1024) {
    margin-right: 0;
  }
}

.header__link--email span {
  margin-right: 100px;

  @media (max-width: $vp-1240) {
    margin-right: 35px;
  }
}

.header__button {
  display: block;
  min-width: 160px;
  height: 40px;
  background-color: transparent;
  border: 1px solid $color-alice-blue1;
  font-size: 14px;
  color: $color-alice-blue1;
  line-height: 1.14;
  margin-right: 61px;
  margin-top: 5px;
  padding: 10px 0;

  @media (max-width: $vp-1023) {
    display: none;
    margin-right: 0;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
