.intro {
  background: $gradient-intro, url("./../img/bg-image.jpg") center center no-repeat;
  width: 100%;

  @media (min-width: $mobile-width-only) {
    padding-top: 150px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 180px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 307px;
  }
}

.intro h2 {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 1.17;
  text-transform: uppercase;
  color: $color-alice-blue3;

  @media (min-width: $mobile-width-only) {
    font-size: 36px;
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 64px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 80px;
    margin-bottom: 40px;
  }
}

.intro p {
  margin: 0;
  font-family: "PT Mono", "Courier", monospace;
  font-weight: 400;
  line-height: 1.55;
  color: $color-alice-blue3;

  @media (min-width: $mobile-width-only) {
    max-width: 100%;
    margin-bottom: 50px;
    font-size: 14px;
  }

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin-bottom: 50px;
    font-size: 22px;
  }

  @media (min-width: $desktop-width) {
    max-width: 56%;
    margin-bottom: 40px;
  }
}

.intro__button {
  background-color: $color-deepsky-blue1;
  border: none;
  border-radius: 3px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-alice-blue3;
  cursor: pointer;

  @media (min-width: $mobile-width-only) {
    font-size: 14px;
    line-height: 1.14;
    padding: 10px 30px;
    margin-bottom: 190px;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.16;
    padding: 15px 25px;
    margin-bottom: 205px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 1.16;
    padding: 15px 25px;
    margin-bottom: 280px;
  }
}

.intro__btn-text {
  &--small {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--large {
    @media (max-width: 769px) {
      display: none;
    }
  }
}
