.modal {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(3, 16, 27, 0.7);
}

.modal .is-closed {
  display: none;
}

.modal-wrapper {
  width: 500px;
  background-color: $color-deepsky-blue2;
  margin: auto;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 3px;
}

.modal__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
  color: $color-default-white;
  margin-bottom: 15px;
}
