.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $mobile-width-only) {
    max-width: 84%;
  }

  @media (min-width: $tablet-width) {
    max-width: 87%;
  }

  @media (min-width: $desktop-width) {
    max-width: 64%;
  }
}
