// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette

$color-black-pearl1:                #041827;
$color-black-pearl2:                #041427;
$color-deepsky-blue1:               #00b2ff;
$color-deepsky-blue2:               #00b3ff;
$color-alice-blue1:                 #f2f5f6;
$color-alice-blue2:                 #f8fdff;
$color-alice-blue3:                 #f2f5f7;
$color-whisper:                     #ebebeb;
$color-whisper2:                    #e5e5e5;
$color-black-pearl-opacity:         fade-out($color-black-pearl1, 0.5);
$color-black-pearl-opacity2:        fade-out($color-black-pearl2, 0.85);
$color-alice-blue-opacity:          fade-out($color-alice-blue2, 0.3);


// Gradient

$black-to-bottom:                    linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
$gradient-intro:                     linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
$gradient-feedback:                  linear-gradient(319.2deg, $color-transparent, $color-transparent 66.4%, $color-black-pearl-opacity calc(66.4% + 1px), $color-black-pearl-opacity 100%);

// Typography
// ---------------------------------

$ff-roboto:                    "Roboto Condensed", "Arial", sans-serif;
$ff-ptmono:                    "PT Mono", "Courier", monospace;


// Viewports
// ---------------------------------

$vp-767:                            767px;
$vp-768:                            768px;
$vp-1023:                           1023px;
$vp-1024:                           1024px;
$vp-1189:                           1189px;
$vp-1190:                           1190px;
$vp-1240:                           1240px;

// Retina
// ---------------------------------

$retina-dppx:                       2dppx;
